<div style="height: 200px;"></div>
<div class="row">
    <div class="offset-6 col-4 card shadow">
        <div></div>
        <div class="card-body">
            <form [formGroup]="registerForm">
                <div class="input-group">
                  <input type="text" formControlName="nom" class="border btn btn-lg btn-block " placeholder="nom">
                </div>
                <br>
                <div class="input-group">
                    <input type="text" formControlName="prenom" class="border btn btn-lg btn-block " placeholder="prenom">
                  </div>
                  <br>
                  <div class="input-group">
                    <input type="text" formControlName="email" class="border btn btn-lg btn-block " placeholder="email">
                  </div>
                  <br>
                <div class="input-group">
                  <input type="password" formControlName="password" class="border btn btn-lg btn-block " placeholder="Mot de passe">
                </div>
                <br>
                <button (click)="submitForm()" type="button"
                  class="mb-1 btn btn-lg text-white btn-primary btn-block">Enregistrer</button>
                <br>
              </form>
        </div>
    </div>
</div>
 
